#cards_selected span img{
    margin: 5px;
}

input[type=button], button {
    margin :3px;
}

.editionExclusive{
    margin-left: 5%;
}

.cardRow{
    display: inline;
}

.buyButtonDiv{
   margin-top:2%;
   margin-bottom:2%;
}

.cardRow button{
    background-color: green !important;
}

.cardRow button, #buynone{
    min-width:300px;
}
.cardImage img {
     width:296px;
     height:473px;
}

#buynone{
     background-color: blue !important;
    margin-top: 16px;
}

#choose_sets{
    margin-left:5%;
}



@media (max-width: 600px) {
    html, body {
        height: 100%;
    }

    html {
        display: table;
        margin: auto;
    }

    body {
        display: table-cell;
        vertical-align: middle;
    }

    .cardRow button, #buynone{
        /*width:300px;*/
        min-width:230px;
    }
    .cardImage img {
        width:230px;
        height:368px;
    }

    input[type=button], button {
        font-size :19px;
    }

    label{
        font-size:19px;
    }

}

@media (max-width: 350px) {
    #choose_sets{
        margin-left:10%;
    }
}